.cardContainer {
    height: 600px;
    width: 80%;
    margin: 1% 10% 1% 10%;
    text-align: left;
    background-color: snow;
    border: 2px solid darkgray;
}

.descript {
    text-align: center;
    padding-left: 10px;
}