.app {
  text-align: center;
}

img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Grid {
  margin: 5%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.static-logo {
  height: 150px;
  cursor: pointer;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 99;
}

.menu{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 145px;
  left: 0;
  right: 0;
  font-weight: 800;
  font-size: 35px;
  text-shadow: 0px 0px 5px rgba(0,0,0, 0.42);
  cursor: pointer;
  z-index: 99;
}

.menu-hidden {
visibility: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}