.reactlogo {
    animation: App-logo-spin infinite 20s linear;
    height: 20px;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.footer {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.67em;
  padding-bottom: 0.67em; 
}